<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodtruck KM11</title>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

  <header class="header">
    <h1>Foodtruck - Empanadas KM11</h1>
    <div class="header-actions">
      <button onclick="window.location.href='/logout'">Cerrar Sesión</button>
      <button id="fullscreenBtn">[ ]</button>
    </div>
    <div class="header-actions">
      <!-- Botón para el dropdown -->
      <div class="dropdown">
        <button class="dropbtn">Acciones</button>
        <div class="dropdown-content">
          <!-- Botones dentro del dropdown -->
          <button onclick="showEmployeeLogModal()">Registrar Ingreso/Egreso</button>
          <button onclick="showHistory()" class="history-button">Historial de Pedidos</button>
          <button onclick="confirmCloseCashRegister()" class="btn-mostrarFormulario">Cierre de Caja</button>
        </div>
      </div>
    </div>
  </header>

  <!-- Sección de Productos -->
  <main class="pos-container">
    <section class="products-section">
      <h2>Productos Disponibles</h2>
      <!-- Selector de categorías -->
      <select id="categoryFilter" onchange="filterProductsByCategory()" class="select">
        <option value="Todas">Todas las Categorías</option>
        <!-- Las opciones de categorías se generarán dinámicamente con JavaScript -->
      </select>

      <ul id="product-list">
        <% products.forEach(product=> { %>
          <li id="product-<%= product.id %>" class="product-item">
            <div class="product-detail">
              <h3>
                <%= product.name %>
              </h3>
              <p>
                <%= product.description %>
              </p>
              <p>Categoría: <%= product.category %>
              </p>
              <p>Stock: <span id="stock-<%= product.id %>">
                  <%= product.stock %>
                </span></p>
              <p>Precio: $<%= product.price %>
              </p>
            </div>
            <% if (product.stock <=5) { %>
              <p class="low-stock">¡Stock bajo!</p>
              <button onclick="sendAlert('<%= product.name %>')" class="alert-button">Enviar alerta</button>
              <% } %>
                <div class="actions">
                  <button onclick="addToCart(<%= product.id %>, '<%= product.name %>', <%= product.price %>)"
                    class="add-button">Agregar</button>
                </div>

                <div id="delete-confirm-<%= product.id %>" class="delete-confirm" style="display: none;">
                  ¿Está seguro de eliminar este producto?
                  <button onclick="deleteProduct(<%= product.id %>)" class="delete-button">Sí, eliminar</button>
                  <button onclick="cancelDelete(<%= product.id %>)" class="alert-button">Cancelar</button>
                </div>
          </li>
          <% }) %>
      </ul>
    </section>

    <!-- Modal de Pago -->
    <section class="cart-section">
      <div id="paymentModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Procesar Pago</h2>
          <div class="payment-summary">
            <p>Total a pagar: $<span id="modalTotal">0.00</span></p>
            <p>Restante: $<span id="remainingAmount" class="remaining-amount">0.00</span></p>
          </div>

          <!-- Campo para el nombre del pedido -->
          <div class="payment-input">
            <label>Nombre del Cliente:</label>
            <input type="text" id="orderName" placeholder="Ingrese el nombre">
          </div>

          <!-- Botones para seleccionar el vendedor -->
          <div class="payment-options">
            <button id="seller1" onclick="selectSeller(this.textContent)" class="cart-item">Vacío</button>
            <button id="seller2" onclick="selectSeller(this.textContent)" class="cart-item">Vacío</button>
            <button id="seller3" onclick="selectSeller(this.textContent)" class="cart-item">Vacío</button>
            <button id="seller4" onclick="selectSeller(this.textContent)" class="cart-item">Vacío</button>
          </div>

          <div class="payment-options">
            <button onclick="selectPaymentMethod('efectivo')" class="cart-item">Efectivo</button>
            <button onclick="selectPaymentMethod('transferencia')" class="cart-item">Transferencia</button>
            <button onclick="selectPaymentMethod('tarjeta')" class="cart-item">Tarjeta</button>
            <button onclick="selectPaymentMethod('mixto')" class="cart-item">Mixto</button>
          </div>

          <div id="paymentInputs"></div>

          <button id="processPaymentBtn" class="cart-item" disabled>Procesar Pago</button>
          <button id="printOrderBtn" style="display: none;" class="cart-item">Imprimir Pedido</button>
          <!-- Botón para cerrar el modal -->
          <button id="closeModalBtn" class="cart-item" onclick="closeModal()">Cerrar</button>
        </div>
      </div>

      <!-- Modal de Historial -->
      <div id="historyModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeHistoryModal()">&times;</span>
          <h2>Historial de Pedidos</h2>
          <label>Fecha Unica:</label>
          <input type="date" id="filterDate" onchange="filterHistory()">
          <div class="date-range-filter">
            <label for="startDate">Desde:</label>
            <input type="date" id="startDate">

            <label for="endDate">Hasta:</label>
            <input type="date" id="endDate">

            <button onclick="filterHistoryByDateRange()">Filtrar</button>
          </div>
          <div id="historyContainer" class="history-container"></div>
        </div>
      </div>

      <!-- Sección del carrito -->
      <div class="cart" id="cart">
        <h2>Carrito de Compras</h2>
        <div id="cart-items"></div>
        <p>Total: $<span id="cart-total">0.00</span></p>
        <div class="cart-actions">
          <button onclick="showPaymentModal()" class="checkout-button" id="checkoutButton" disabled>
            Completar Compra
          </button>
        </div>
      </div>
    </section>
  </main>

  <!-- Modal para seleccionar empanadas -->
  <div id="docenaModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeDocenaModal()">&times;</span>
      <h2 id="docenaModalTitle"></h2>
      <div id="empanadasSelection"></div>
      <div class="modal-actions">
        <button onclick="confirmDocenaSelection()" style="padding: 10px;">Confirmar</button>
        <button onclick="closeDocenaModal()" style="padding: 10px;">Cancelar</button>
      </div>
    </div>
  </div>

  <!-- Agrega esto con los otros modales -->
  <div id="employeeLogModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeEmployeeLogModal()">&times;</span>
      <h2>Registro de Empleado</h2>
      <div>
        <label for="logEmployeeName">Nombre del Empleado:</label>
        <input type="text" id="logEmployeeName" placeholder="Ingrese el nombre">
      </div>
      <div class="log-actions">
        <button onclick="logEmployeeAction('ingreso')" class="log-button ingreso">Registrar Ingreso</button>
        <button onclick="logEmployeeAction('egreso')" class="log-button egreso">Registrar Egreso</button>
      </div>
    </div>
  </div>
  <!-- scripts -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    // Determinar el local actual
    const currentLocal = window.location.pathname.includes('local1') ? 'local1' : 'local2';
    let orderName = ''; // Variable para almacenar el nombre del pedido
    let selectedSeller = ''; // Variable para almacenar el vendedor seleccionado
    let totalPayments = 0; // Contador de pagos procesados
    let totalAmount = 0;   // Monto total generado

  </script>
  <script src="/scripts/opencloseModal.js" defer></script>
  <script src="/scripts/dropdown.js" defer></script>
  <script src="/scripts/fullscreenBtn.js" defer></script>
  <script src="/scripts/closeboxConfirme.js" defer></script>
  <script src="/scripts/employeeLogModal.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
  <script src="/scripts/payment.js"></script>
  <script src="/scripts/seller.js"></script>
  <script src="/scripts/historyPadidos.js"></script>
  <script src="/scripts/cart.js"></script>
  <script src="/scripts/filterProducts.js"></script>
  <script src="/scripts/alertStockLocal1.js"></script>
  <script src="/scripts/formDocena.js"></script>
</body>

</html>